---
---

body {
  background-color: #fff;
}

.nav-menu {
  background-color: rgba(255,255,255,.8);
  box-shadow: 0 0 25px rgba(0,0,0,0.6);

  nav {
    line-height: 45px;
    position: absolute;
    right: 0;
    top: 0;
    // margin-right: 40px;

    a {
      padding-right: 20px;
    }
  }
}

.brand {
  span {
    line-height: 45px;
  }
}

.logo {
  float: left;
  img {
    height: 45px;
  }
}

.version {
  color: #fff;
  background-color: #f00;
  padding: 0 5px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 10px;
  vertical-align: super;
}

.hero {
  height: 500px;
  background-image: url(../images/slideshow.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  padding-top: 100px;
  text-align: center;

  img {
    margin: 0 auto;
    display: block;
  }

  h2 {
    color: #fff;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  }

  a.button {
    margin-top: 15px;
    font-size: 1.2em;
  }
}

.section {
  max-width: 1000px;
  text-align: center;

  div {
    padding: 40px;
  }

  img {
    max-width: 100%;
  }
}

#main.content {
  display: flex;
  padding-top: 60px;
  max-width: 1000px;
  margin: 0 auto;

  .wrapper {
    flex: 1;
  }
}


h1 {
  color: #08c;
  font-size: 2.2em;
  font-weight: 300;
}

footer {
  margin-top: 20px;
  text-align: center;
  color: #444;
  padding: 10px;
}